BasedOnStyle: google

AccessModifierOffset: -4
BreakBeforeBraces: Allman
DerivePointerAlignment: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
PointerAlignment: Left
SpaceBeforeParens: Always
